<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign In</title>
</head>

<body>

<h1>Welcome back!</h1>
<br>

<h4>Please enter you'r user details below</h4>
<br>

<form action="/signin" method="POST">

<input type = "text" id = "email" name = "email" placeholder = "Enter you'r email"> 
<br> <br>

<input type = "text" id = "passowrd" name = "password" placeholder = "Enter you'r password">
<br> <br>

<input type = "submit" id = "submit_signin" value = "Log In">

</form>


</body>
</html>